
body {
    width: 100%;
    height: 200vh;
    margin: 0;
    padding: 0;
}


.page{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(145deg, #271b4e, #121222);
}
.container{
    width: 73vmin;
    height: 65vmin;
    background-color: #56a396;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.select-box{
    width: 90%;
    height: 23vmin;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    margin-bottom: 20px;
}
#getresult {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 15px;
    justify-content: center;
    /* line-height: 1em; */
    max-width: 100%;
    min-width: 140px;
    height: 26px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 20px;
    
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   #getresult span {
    padding-top: 2px;
    background-color: rgb(5, 6, 45);
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   #getresult:hover span {
    background: none;
   }
   
   #getresult:active {
    transform: scale(0.9);
   }
.mergesel1{
    height: 28px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.mergesel2{
    height: 28px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
img{
    height: 30px;
}
select{
    height: 28px;
    border: none;
}

input{
    height: 30px;
    border: none;
    width: 40%;
    text-transform: uppercase;
    border-radius: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
    
}
input::placeholder{
    color: rgba(0, 0, 0, 0.82);
}
.output{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 1rem;
    box-shadow: 0px 0px 7px rgb(21, 108, 174);
}
.leftside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rightside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.otherway{
    z-index: 2;
    position: absolute;
    top: 100vh;
    height: 100vh;
    background: linear-gradient(1300deg,#121222, #271b4e);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 77vmin;
    height: auto;
    background-color: #9831c1;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
}
#heading{
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.25rem;
    text-align: center;
    box-shadow: 0 0 5px #0c293f;
}
li{
  padding: 0px 20px 0px 0px;
    font-size: 19px;
    margin-bottom: 10px;
    font-weight: bold;
}
ul{
  margin-bottom: 30px;
}
a{
  background-color: #8335dc;
  text-decoration: none;
  color: #1c0931;
  box-shadow: 0 0 4px rgb(11, 49, 49);
  font-weight: 300;
  padding: 0 3px 0 3px;
}
.changeMode {
    --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
    --edge-light: blue(0, 0%, 50%, 0.8);
    --text-light: rgba(255, 255, 255, 0.4);
    --back-color: 240, 40%;
  
    cursor: pointer;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    min-height: 2.4em;
    min-width: 3em;
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 30px;
    font-size: 18px;
    letter-spacing: 0.05em;
    line-height: 1;
    font-weight: bold;
  
    background: linear-gradient(
      140deg,
      hsla(var(--back-color), 50%, 1) min(2em, 20%),
      hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    );
    color: hsla(0, 0%, 90%);
    border: 0;
    box-shadow: inset 0.4px 1px 4px var(--edge-light);
  
    transition: all 0.1s var(--bezier);
  }
  
  .c:hover {
    --edge-light: hsla(0, 0%, 50%, 1);
    text-shadow: 0px 0px 10px var(--text-light);
    box-shadow: inset 0.4px 1px 4px var(--edge-light),
      2px 4px 8px hsla(0, 0%, 0%, 0.295);
    transform: scale(1.1);
  }
  
  .changeMode:active {
    --text-light: rgba(255, 255, 255, 1);
  
    background: linear-gradient(
      140deg,
      hsla(var(--back-color), 50%, 1) min(2em, 20%),
      hsla(var(--back-color), 50%, 0.6) min(8em, 100%)
    );
    box-shadow: inset 0.4px 1px 8px var(--edge-light),
      0px 0px 8px hsla(var(--back-color), 50%, 0.6);
    text-shadow: 0px 0px 20px var(--text-light);
    color: hsla(0, 0%, 100%, 1);
    letter-spacing: 0.1em;
    transform: scale(1);
  }
  
   

.hide{
    opacity: 0;
    display: none;
}

@media (max-width: 500px) {
    .container {
      height: 70vmin;
    }
    .mergesel{
        width: auto;
    }

    h1 {
      color: rgb(0, 0, 0);
      font-size: 6vw;
    }
  p:hover{
    text-shadow: 0px 0px 7px aqua;
  }
}
